header {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    height: 64px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    align-content: center;
}

header .logo {
    color: #3d5af1;
    font-weight: bold;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

header .logo-icon {
    margin-right: 8px;
    font-size: 2rem;
}

header span {
    color: #444444;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    flex-grow: 1;
    border: none;
    background: #f0f0f0;
    padding: 8px 16px;
    height: max-content;
    border-radius: 5px;
}

.search button {
    border: none;
    background: none;
    cursor: pointer;
    color: #717171;
    font-size: 1.5rem;
}